app_domain(xiaomiparts_app)

allow xiaomiparts_app {
  activity_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
  sensorservice_service
}:service_manager find;

allow xiaomiparts_app system_app_data_file:dir create_dir_perms;
